---
http_interactions:
- request:
    method: get
    uri: http://places.nlp.nokia.com/places/v1/categories/places?app_code=<APP_CODE>&app_id=<APP_ID>&at=52.5159,13.3777&cat=sights-museums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=UTF-8
      Last-Modified:
      - Tue, 21 Apr 2015 13:16:07 GMT
      X-Nlp-Tid:
      - dae572b3-6e05-4eec-a572-b36e053eec66
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"eat-drink","title":"Eat & Drink","icon":"http://download.vcdn.nokia.com/p/d/places2/icons/categories/03.icon","type":"urn:nlp-types:category","href":"http://places.nlp.nokia.com/places/v1/categories/places/eat-drink?app_id=<APP_ID>&app_code=<APP_CODE>","system":"places","within":[]},{"id":"restaurant","title":"Restaurant","icon":"http://download.vcdn.nokia.com/p/d/places2/icons/categories/03.icon","type":"urn:nlp-types:category","href":"http://places.nlp.nokia.com/places/v1/categories/places/restaurant?app_id=<APP_ID>&app_code=<APP_CODE>","system":"places","within":["eat-drink"]},{"id":"snacks-fast-food","title":"Snacks/Fast
        food","icon":"http://download.vcdn.nokia.com/p/d/places2/icons/categories/03.icon","type":"urn:nlp-types:category","href":"http://places.nl[...]
