---
http_interactions:
- request:
    method: get
    uri: http://places.nlp.nokia.com/places/v1/places/276u33db-531d5952bc484395921c308c91730757?app_code=<APP_CODE>&app_id=<APP_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=UTF-8
      X-Nlp-Tid:
      - 817b64dc-d4bb-4246-bb64-dcd4bb424625
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"It is not permissible to use URL templating.
        Please follow the Places API Developer Guide: http://places.demo.api.here.com/places/static/doc/public/#topics/required-user-flow.html"}'
  recorded_at: Sat, 25 Apr 2015 12:55:34 GMT
- request:
    method: get
    uri: http://places.nlp.nokia.com/places/v1/places/8409q8zn-67e57830aa21400592be5eb8cefb9133?app_code=<APP_CODE>&app_id=<APP_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=UTF-8
      X-Nlp-Tid:
      - d52ca13c-b363-44a7-aca1-3cb36374a727
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"It is not permissible to use URL templating.
        Please follow the Places API Developer Guide: http://places.demo.api.here.com/places/static/doc/public/#topics/required-user-flow.html"}'
  recorded_at: Sat, 25 Apr 2015 13:01:55 GMT
recorded_with: VCR 2.9.3
