---
http_interactions:
- request:
    method: get
    uri: http://places.nlp.nokia.com/places/v1/suggest?app_code=<APP_CODE>&app_id=<APP_ID>&q=berl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=UTF-8
      X-Nlp-Tid:
      - faa8d50f-5ff1-43cc-a8d5-0f5ff183cc68
    body:
      encoding: UTF-8
      string: '{"status":400,"message":"No position or bounding box information."}'
  recorded_at: Sat, 25 Apr 2015 13:25:39 GMT
recorded_with: VCR 2.9.3
